<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1 * 2</h1>
    <h3><%= ["heloo", "bonjour", "namaste"][2] %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam necessitatibus repudiandae animi non qui ea eligendi quidem amet officiis assumenda praesentium, corporis velit tempore harum sapiente libero maxime consequatur nihil voluptate nesciunt? Numquam, suscipit corporis aperiam nulla illo hic, repudiandae unde in maiores cupiditate, earum possimus sapiente molestiae quam harum!</p>
    <button>Click me!</button>
</body>
</html>