<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New user</title>
</head>
<body>
    <h2>Fill out the form: </h2>
    <form method="post" action="/user">
        <label for="username">Enter username: </label>
        <input type="text" name="username" id="username">
        <br>
        <label for="email">Enter email: </label>
        <input type="email" name="email" id="email">
        <label for="password">Enter password: </label>
        <input type="password" name="password" id="password">
        <button>Submit</button>
    </form>
</body>
</html>