.box{
  height:100px;
  width: 300px;
  background-color: pink;
  /* animation-name: widthAnimate;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: widthAnimate 3s ease-in 0s infinite alternate;
}

@keyframes widthAnimate {
  0%{
    width: 10px;
    background-color: green;
  }
  50% {
    width: 400px;
    background-color: blue;
    border-radius: 15px;
  }

  100%{
    width: 300px;
    background-color: red;
    background-repeat: 50px ;
  }
}

@keyframes fontAnimation {
  from {
    font-size: 20px;
  }
  to{
    font-size: 40px;
  }
}

@keyframes colorAnimate {
  from{
    background-color: green;
  }
  to{
    background-color: blue;
  }
}